  <p>
	<ul>
	 {{#each opinions}}
		<li><img src="{{avatar}}" height="50px" width="50px"> {{formatDate date day="numeric" month="long" year="numeric"}} <span>{{name}} ({{age}} y.o.)</span></li>
	{{/each}}
	</ul>
  </p>

